@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  background-color: rgb(234, 247, 247);
}

a {
  text-decoration: none;
  color: inherit;
}

.wr-wrapper {
  display: flex;
  position: relative;
}
@media (max-width: 576px) {
  .wr-wrapper {
    display: block;
  }
}

.wr-sidebar {
  width: 240px;
  border-right: 1px solid rgb(140, 192, 192);
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  transition: width 0.3s ease;
  z-index: 111;
}
@media (max-width: 992px) {
  .wr-sidebar {
    position: absolute;
    top: 0px;
    height: 100%;
    display: none;
  }
}
.wr-sidebar.active {
  display: flex;
}

.wr-logo-container {
  display: flex;
  justify-content: center;
}

.wr-menubar {
  margin: 2rem 0;
  padding-left: 0px;
  list-style: none;
}

.wr-menu-links {
  color: rgb(100, 116, 139);
  font-weight: 500;
  padding: 8px 22px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  border-radius: 8px;
}
.wr-menu-links i {
  font-size: 24px;
}
.wr-menu-links.active, .wr-menu-links:hover {
  background-color: rgb(21, 128, 128);
  color: white;
  font-weight: 500;
}

.wr-top_nav {
  border-bottom: 1px solid rgb(140, 192, 192);
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 11;
}

.wr-profile-btn {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0px;
  border-radius: 50px;
}
.wr-profile-btn img {
  width: 100%;
  height: 100%;
}

.wr-top_navsearch {
  font-size: 14px;
  background-color: white;
  border: 1px solid rgb(234, 247, 247);
  color: rgb(100, 116, 139);
  padding-left: 2rem;
}
.wr-top_navsearch:focus {
  box-shadow: none;
  border-color: rgb(140, 192, 192);
}

.wr-search_container {
  position: relative;
}
.wr-search_container .wr-search_icon {
  position: absolute;
  padding: 0.5rem;
  color: rgb(100, 116, 139);
  top: 2px;
}

.wr-notification {
  padding: 0.4rem 1.4rem;
  font-size: 22px;
  color: rgb(100, 116, 139);
}
.wr-notification .btn {
  padding: 0px;
}
.wr-notification .btn:focus {
  border: none;
}

.wr-select {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
  border: none;
}
.wr-select:focus {
  box-shadow: none;
  border-color: rgb(140, 192, 192);
}

.wr-table {
  border: 1px solid rgb(236, 243, 251);
}
.wr-table th,
.wr-table td {
  border: 1px solid rgb(236, 243, 251);
  padding: 8px 13px;
  border-top: none;
}
.wr-table th {
  font-size: 14px;
  color: rgb(130, 136, 152);
  font-weight: 500;
  white-space: nowrap;
}
.wr-table td {
  font-size: 13.6px;
  color: rgb(15, 23, 42);
  border-bottom: none;
}
.wr-table td:first-child {
  text-align: center;
}

.wr-pagination {
  display: flex;
  justify-content: end;
  border: none;
  margin-bottom: 0.5rem;
}
.wr-pagination .page-link {
  border: none;
  color: rgb(15, 23, 42);
  border-radius: 8px;
  font-size: 12px;
}
.wr-pagination .page-link {
  border-radius: 8px;
}
.wr-pagination .page-link.active {
  background-color: rgb(21, 128, 128);
  color: white;
}

.wr-sidebar.collapsed {
  width: auto;
}

.wr-menubar .wr-menu-links span {
  transition: opacity 0.3s ease;
  opacity: 1;
  display: inline-block;
}

.wr-sidebar.collapsed .wr-menu-links span {
  opacity: 0;
  display: none;
}

.wr-sidebar.collapsed .wr-logo {
  display: none;
}
.wr-sidebar.collapsed .wr-menu-links {
  padding: 8px 12px;
}

.wr-calendar {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 1rem;
  /* Adjust day cell height to prevent extra space */
}
.wr-calendar .fc-col-header-cell-cushion {
  font-size: 12px;
  color: rgb(15, 23, 42);
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wr-calendar .fc-daygrid-day-number {
  font-size: 12px;
  color: rgb(15, 23, 42);
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wr-calendar .fc-toolbar-title {
  font-size: 14px;
}
.wr-calendar .fc-scrollgrid {
  border: none;
}
.wr-calendar .fc-theme-standard .fc-scrollgrid {
  border: none;
}
.wr-calendar table {
  border: none;
}
.wr-calendar table th,
.wr-calendar table tr,
.wr-calendar table td {
  border: none;
}
.wr-calendar .fc-col-header-cell {
  font-size: 12px; /* Adjusts header font size */
  color: rgb(15, 23, 42);
}
.wr-calendar .fc-daygrid-day-events {
  display: none;
}
.wr-calendar .fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
}
.wr-calendar .fc-button {
  padding: 0px;
  background-color: transparent;
  border: none;
  color: rgb(21, 128, 128);
}
.wr-calendar .fc-day-sun .fc-daygrid-day-number {
  color: red !important;
}
.wr-calendar .fc-daygrid-day.fc-day-today {
  background-color: rgb(21, 128, 128);
  border-radius: 50px;
  box-shadow: 1px 2px 7px 0px rgba(89, 165, 165, 0.29);
}
.wr-calendar .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  color: white;
}

.wr-dashboard_card {
  background: linear-gradient(258.89deg, #007474 -0.78%, #59a5a5 101.53%);
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.wr-dashboard_card::before {
  position: absolute;
  content: "";
  background-image: url("/assets/images/dashboard/card-bg-left.svg");
  background-repeat: no-repeat;
  width: 170px;
  height: 166px;
  top: 0px;
  left: 0px;
}

.wr-dashboard_card::after {
  position: absolute;
  content: "";
  background-image: url("/assets/images/dashboard/card-bg-right.svg");
  background-repeat: no-repeat;
  width: 170px;
  height: 166px;
  bottom: -103px;
  right: -122px;
}

.wr-dashboardcard_main-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 45.36px;
  font-family: "Plus Jakarta Sans", serif;
}

.wr-dashboardcard_subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  margin-bottom: 0.3rem;
}

.wr-dashboardcard_desc {
  font-size: 14px;
  font-weight: 400;
}

.wr-card_container {
  background-color: white;
  border-radius: 14px;
  padding: 20px;
  height: 100%;
}

.wr-card_header {
  color: rgb(15, 23, 42);
  font-weight: 500;
  font-size: 1rem;
}

.chart-container {
  max-width: 300px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .chart-container {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}

.legend-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.legend-container span {
  margin: 0 10px;
  font-size: 14px;
}

.wr-chart_state {
  text-align: center;
}
.wr-chart_state .completed {
  color: rgb(11, 167, 52);
}
.wr-chart_state .delayed {
  color: rgb(255, 198, 88);
}
.wr-chart_state .ongoing {
  color: rgb(251, 66, 66);
}
.wr-chart_state span {
  font-size: 20px;
  line-height: 26.63px;
}
.wr-chart_state p {
  font-size: 12px;
  color: rgb(121, 121, 121);
}

.wr-task_overview-card {
  text-align: center;
  padding: 24px 16px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wr-task_overview-card.ongoing {
  background-color: rgb(21, 128, 128);
  color: white;
}
.wr-task_overview-card.pending {
  background-color: rgb(255, 221, 103);
  color: white;
}
.wr-task_overview-card.completed {
  background-color: rgb(248, 250, 252);
  color: black;
}
.wr-task_overview-card.completed .wr-task_icon {
  color: rgb(11, 167, 52);
  border-color: rgb(203, 213, 225);
}
.wr-task_overview-card .task_state {
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.wr-task_overview-card span {
  font-size: 16px;
  font-weight: 700;
}
.wr-task_overview-card .wr-task_icon {
  width: 40px;
  height: 40px;
  border: 1.6px solid white;
  border-radius: 50px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.wr-card_rating {
  font-size: 12px;
  color: rgb(100, 116, 139);
  margin-bottom: 0.5rem;
}

.rating-percentage {
  font-size: 24px;
  font-weight: 700;
}

.wr-emotional_graph {
  width: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wr-emoji {
  position: absolute;
  font-size: 2rem;
}

.wr-emotional_cardcontent {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(21, 128, 128);
}
.wr-emotional_cardcontent span {
  font-size: 24px;
}

.wr-emotion_overview {
  background-color: rgb(249, 249, 250);
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.wr-emotion_overview-content {
  text-align: center;
  font-size: 14px;
}
.wr-emotion_overview-content p {
  margin-bottom: 0px;
}

.wr-emtional_label {
  width: 10px;
  height: 10px;
  background-color: rgb(21, 128, 128);
  border-radius: 50px;
}

.wr-emtional-neutral {
  background-color: rgb(89, 165, 165);
}

.wr-emtional-negative {
  background-color: rgb(172, 222, 222);
}

.wr-team-group {
  display: flex;
}

.wr-profile {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 2.5px solid white;
  overflow: hidden;
}
.wr-profile:not(:first-child) {
  margin-left: -12px;
}
.wr-profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wr-profile .wr-profiles {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 243, 251);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.complexity-high {
  color: rgb(251, 66, 66);
}

.complexity-low {
  color: rgb(11, 167, 52);
}

.progress-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.2rem;
}

.progress-bar .line {
  height: 8px;
  background: rgb(242, 242, 255);
  border-radius: 7px;
  position: relative;
}

.progress-bar > .line > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.progress-bar > .line > span.inprogress {
  background: rgb(92, 103, 247);
}
.progress-bar > .line > span.pending {
  background-color: rgb(255, 198, 88);
}

.in-progress {
  color: rgb(92, 103, 247);
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 3px;
  background-color: rgba(92, 103, 247, 0.1);
}
.in-progress.pending {
  color: rgb(255, 198, 88);
  background-color: rgb(255, 249, 238);
}

.wr-due_date-over {
  color: rgb(251, 66, 66);
}

.wr-summary_note {
  color: rgb(100, 116, 139);
  font-size: 12px;
  line-height: 18.8px;
}

.wr-summary_pagination {
  display: flex;
  justify-content: end;
  color: rgb(21, 128, 128);
}
.wr-summary_pagination button {
  color: rgb(21, 128, 128);
  font-size: 24px;
}

.wr-progress_container {
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}
.wr-progress_container .progress-bar {
  width: 100%;
  display: block;
}
.wr-progress_container .progress-bar .line {
  height: 14px;
  background: rgba(92, 103, 247, 0.1);
  border-radius: 7px;
  position: relative;
}
.wr-progress_container .progress-bar > .line > span {
  position: absolute;
  left: 6px;
  top: 3px;
  height: 50%;
  border-radius: 10px;
}
.wr-progress_container .progress-bar > .line > span.almost {
  background-color: rgb(11, 167, 52);
}
.wr-progress_container .progress-bar > .line > span.medium {
  background-color: rgb(92, 103, 247);
}
.wr-progress_container .progress-bar > .line > span.pending {
  background-color: rgb(255, 198, 88);
}
.wr-progress_container .progress-bar > .line > span.started {
  background-color: rgb(251, 66, 66);
}
.wr-progress_container .label {
  font-size: 12px;
  color: rgb(15, 23, 42);
  font-weight: 600;
}
.wr-progress_container .wr-project_name {
  font-size: 12px;
  color: rgb(15, 23, 42);
  position: absolute;
  top: -2px;
}
.wr-progress_container .wr-progress_count {
  color: rgb(100, 116, 139);
  font-size: 12px;
  font-weight: 500;
  padding-top: 0.5rem;
  display: flex;
  gap: 0.2rem;
}

.wr-weekly_report-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 70%;
  margin: 1rem auto;
}
.wr-weekly_report-overview h4 {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 700;
}
.wr-weekly_report-overview span {
  color: rgb(118, 118, 118);
  font-size: 12px;
}

.wr-report_summary_title {
  margin-bottom: 0.2rem;
}
.wr-report_summary_title span {
  color: rgb(15, 23, 42);
  font-size: 12px;
  font-weight: 500;
}
.wr-report_summary_title button {
  color: rgb(21, 128, 128);
  background-color: rgb(234, 247, 247);
  width: 24px;
  height: 24px;
  border-radius: 50px;
  font-size: 13px;
}

.wr-skill_graph-container {
  width: 100%;
  height: 165px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .wr-skill_graph-container {
    height: auto;
  }
}

.wr-graph_content {
  width: 100%;
  height: 380px;
}
@media (max-width: 992px) {
  .wr-graph_content {
    height: auto;
  }
}

@keyframes animationLoaded {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media (min-width: 1401px) {
  .container {
    max-width: 100%;
  }
}
.wr-report_summary_card {
  padding: 32px 24px;
  border-radius: 12px;
  background-color: rgb(21, 128, 128);
}
.wr-report_summary_card .wr-card_header {
  color: white;
}
.wr-report_summary_card .wr-select {
  color: white;
  background-color: transparent;
  padding: 0px 18px 0px 0px;
}
.wr-report_summary_card button {
  color: white;
  font-size: 14px;
}

.wr-summary_listing {
  padding-left: 16px;
  margin-top: 1.5rem;
  font-size: 12.8px;
  color: white;
  line-height: 20px;
}
.wr-summary_listing li {
  margin-bottom: 1rem;
}

.wr-reportcard_activity .wr-card_header {
  color: rgb(21, 128, 128);
  font-weight: 600;
}
.wr-reportcard_activity span {
  font-size: 14px;
  color: rgb(100, 116, 139);
  font-weight: 400;
}

.accordion-item:nth-child(odd) {
  background-color: rgb(247, 247, 248); /* Replace with your desired grey color */
}

.wr-report-accordian .accordion-button.collapsed {
  border-color: rgb(21, 128, 128);
}

.wr-report-accordian .accordion-button:not(.collapsed) {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.wr-report-accordian .accordion-button:focus {
  box-shadow: none;
}
.wr-report-accordian .accordion-button::after {
  color: rgb(148, 163, 184);
}

.wr-report_user--profile {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  margin-right: 0.6rem;
}
.wr-report_user--profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wr-report_user--name {
  color: rgb(96, 102, 109);
  font-size: 12px;
  font-weight: 400;
}

.wr-report_accordian-title {
  font-size: 1rem;
  color: rgb(96, 102, 109);
}

.wr-accordion_content {
  font-size: 12.8px;
  color: rgb(120, 121, 123);
}

.accordion-item:has(.accordion-collapse.show) {
  border-color: rgb(21, 128, 128);
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #dee2e6;
}

.wr-calendar_icon {
  color: rgb(15, 23, 42);
  font-size: 1rem;
  margin-right: 0.5rem;
}

.wr-remark_text {
  color: rgb(70, 70, 70);
  margin-top: 2rem;
}

.wr-report-play-detail {
  margin-top: auto;
}

.wr-report_play {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.wr-report_play span {
  font-size: 14px;
}
.wr-report_play i {
  font-size: 24px;
  color: rgb(21, 128, 128);
}

.wr-report_task_detail {
  font-size: 12.8px;
  white-space: nowrap;
}/*# sourceMappingURL=main.css.map */