.wr-report_summary_card {
  padding: 32px 24px;
  border-radius: 12px;
  background-color: $primary-color;

  .wr-card_header {
    color: white;
  }
  .wr-select {
    color: white;
    background-color: transparent;
    padding: 0px 28px 0px 0px;
  }
  button {
    color: white;
    font-size: 14px;
  }
}
.wr-summary_listing {
  padding-left: 16px;
  margin-top: 1.5rem;
  font-size: 12.8px;
  color: white;
  line-height: 20px;

  li {
    margin-bottom: 1rem;
  }
}
.wr-reportcard_activity {
  .wr-card_header {
    color: $primary-color;
    font-weight: 600;
  }
  span {
    font-size: 14px;
    color: $text-gray;
    font-weight: 400;
  }
}
.accordion-item:nth-child(odd) {
  background-color: rgba(
    247,
    247,
    248,
    1
  ); /* Replace with your desired grey color */
}

.wr-report-accordian {
  .accordion-button.collapsed {
    border-color: $primary-color;
 
  }
}
.wr-report-accordian {
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-button::after {
    color: rgba(148, 163, 184, 1);
  }
}
.wr-report_user--profile {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  margin-right: 0.6rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.wr-report_user--name {
  color: rgba(96, 102, 109, 1);
  font-size: 12px;
  font-weight: 400;
}
.wr-report_accordian-title {
  font-size: 1rem;
  color: rgba(96, 102, 109, 1);
}
.wr-accordion_content {
  font-size: 12.8px;
  color: rgba(120, 121, 123, 1);
}
.accordion-item:has(.accordion-collapse.show) {
  border-color: $primary-color;

}
.accordion-item:not(:first-of-type){
  border-top:1px solid #dee2e6;
}

.wr-calendar_icon {
  color: $text-black;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.wr-remark_text {
  color: rgba(70, 70, 70, 1);
  margin-top: 2rem;
}
.wr-report-play-detail {
  margin-top: auto;
}
.wr-report_play {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  span {
    font-size: 14px;
  }
  i {
    font-size: 24px;
    color: $primary-color;
  }
}
.wr-report_task_detail {
  font-size: 12.8px;
  white-space: nowrap;
}
