* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $wr-text-font;
  background-color: $secondary-color;
}
a {
  text-decoration: none;
  color: inherit;
}
.wr-wrapper {
  display: flex;
  position: relative;

  @media (max-width: 576px) {
    display: block;
  }
}
.wr-sidebar {
  width: 240px;
  border-right: 1px solid $primary-light-border;
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  transition: width 0.3s ease;
  z-index: 111;

  @media (max-width: 992px) {
    position: absolute;
    top: 0px;
    height: 100%;
    display: none;
  }
  &.active{
    display: flex;
  }
}

.wr-logo-container {
  display: flex;
  justify-content: center;
}
.wr-menubar {
  margin: 2rem 0;
  padding-left: 0px;
  list-style: none;
}

.wr-menu-links {
  color: $text-gray;
  font-weight: 500;
  padding: 8px 22px;
  display: flex;
  align-items: center;
  text-decoration: none;

  gap: 1rem;
  border-radius: 8px;
  i {
    font-size: 24px;
  }
  &:hover {
    background-color: $primary-color;
    color: white;
    font-weight: 500;
  }
}
.wr-top_nav {
  border-bottom: 1px solid $primary-light-border;
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 11;
}
.wr-profile-btn {
  width: 40px;
  height: 40px;
  object-fit: cover;
  padding: 0px;
  border-radius: 50px;
  img {
    width: 100%;
    height: 100%;
  }
}
.wr-top_navsearch {
  font-size: 14px;
  background-color: white;
  border: 1px solid rgba(234, 247, 247, 1);
  color: $text-gray;
  padding-left: 2rem;
  &:focus {
    box-shadow: none;
    border-color: $primary-light-border;
  }
}
.wr-search_container {
  position: relative;

  .wr-search_icon {
    position: absolute;
    padding: 0.5rem;
    color: $text-gray;
    top: 2px;
  }
}
.wr-notification {
  padding: 0.4rem 1.4rem;
  font-size: 22px;
  color: $text-gray;
  .btn {
    padding: 0px;
  }
  .btn:focus {
    border: none;
  }
}
.wr-select {
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
  border: none;
  &:focus {
    box-shadow: none;
    border-color: $primary-light-border;
  }
}

//table

.wr-table {
  border: 1px solid rgba(236, 243, 251, 1);
  th,
  td {
    border: 1px solid rgba(236, 243, 251, 1);

    padding: 8px 13px;
    border-top: none;
  }
  th {
    font-size: 14px;
    color: rgba(130, 136, 152, 1);
    font-weight: 500;
    white-space: nowrap;
  }
  td {
    font-size: 13.6px;
    color: $text-black;
    border-bottom: none;
  }
  td:first-child {
    text-align: center;
  }
}

//pagination.

.wr-pagination {
  display: flex;
  justify-content: end;
  border: none;
  margin-bottom: 0.5rem;

  .page-link {
    border: none;
    color: $text-black;
    border-radius: 8px;
    font-size: 12px;
  }
  .page-link {
    border-radius: 8px;
    &.active {
      background-color: $primary-color;
      color: white;
    }
  }
}

.wr-sidebar.collapsed {
  width: auto;
}

.wr-menubar .wr-menu-links span {
  transition: opacity 0.3s ease;
  opacity: 1;
  display: inline-block;
}

.wr-sidebar.collapsed .wr-menu-links span {
  opacity: 0;
  display: none;
}
.wr-sidebar.collapsed {
  .wr-logo {
    display: none;
  }
  .wr-menu-links {
    padding: 8px 12px;
  }
}
//.....................
.wr-calendar {
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 1rem;
  .fc-col-header-cell-cushion {
    font-size: 12px;
    color: rgba(15, 23, 42, 1);
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fc-daygrid-day-number {
    font-size: 12px;
    color: rgba(15, 23, 42, 1);
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fc-toolbar-title {
    font-size: 14px;
  }
  .fc-scrollgrid {
    border: none;
  }
  .fc-theme-standard .fc-scrollgrid {
    border: none;
  }
  table {
    border: none;
    th,
    tr,
    td {
      border: none;
    }
  }

  .fc-col-header-cell {
    font-size: 12px; /* Adjusts header font size */
    color: rgba(15, 23, 42, 1);
  }
  .fc-daygrid-day-events {
    display: none;
  }

  /* Adjust day cell height to prevent extra space */
  .fc-daygrid-day-frame {
   display: flex;
   justify-content: center;
  }
  .fc-button {
    padding: 0px;
    background-color: transparent;
    border: none;
    color: $primary-color;
  }
  .fc-day-sun {
    .fc-daygrid-day-number {
      color: red !important;
    }
  }
  .fc-daygrid-day.fc-day-today {
    background-color: $primary-color;
    border-radius: 50px;
 
    box-shadow: 1px 2px 7px 0px rgba(89, 165, 165, 0.29);
    .fc-daygrid-day-number{
      color: white;
    }
  }
}
