
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

// Regular font family

$wr-text-font: "Inter", serif;

$wr-text-plus-jakarta:"Plus Jakarta Sans", serif;
//Brand color

$primary-color:rgba(21, 128, 128, 1);
$secondary-color:rgba(234, 247, 247, 1);
$bg-grey:rgba(228, 228, 228, 1);
$primary-light-border:rgba(140, 192, 192, 1);

//font color

$text-black: rgba(15, 23, 42, 1);

$text-gray: rgba(100, 116, 139, 1);

$text-light: rgba(121, 121, 121, 1);

$text-red: rgba(251, 66, 66, 1);

$text-green: rgba(11, 167, 52, 1);

$text-blue: rgba(92, 103, 247, 1);

$text-yellow:rgba(255, 198, 88, 1);

//